.videoLightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left:0;
  display: none;
}

.videoLightbox .overlay {
  background-color: rgba(0,0,0,0.5); /* color and opacity of overlay */
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1999999;
}

.videoLightbox .container {
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: white; /* color of lightbox */
  width: 760px;
  height: 480px;
  top: 50%;
  left: 50%;
  margin-left: -380px;
  margin-top: -240px;
  z-index: 2000000;
}

.videoLightbox .container .closeVideoButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  background-image: url("../img/close_icon.png");
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 2000003;
}

.videoLightbox .container h3.videoTitle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
  font-size: 32px;
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  color: #333; /* color of video title */
  padding-right: 128px;
}

.videoLightbox .container .videoWrapper {
  position: relative;
  padding: 64px 16px 16px 16px;
  height: 0;
  z-index: 2000001;
}

.videoLightbox .container .videoWrapper video {
  position: relative;
  width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 760px) {
  .videoLightbox .container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
  }

  .videoLightbox .container h3.videoTitle {
    height: auto;
  }

  .videoLightbox .container .videoWrapper {
    top: 50%;
    margin-top: -50%;
  }
}
